 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.service {
    height : 50px; 
    padding-top: 14px ;
}
 
.nav-links li {
    position: relative;
}
.nav-links li a:hover{
    color: #f4b400;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s ease-in-out;
}
.profile a {
    display: flex;
    align-items: center;
}

.profile img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

 
